<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>
      Here's word from our controller [% word | html %].
    </p>
  </body>
</html>
